.Card {
  height: 200px;
}

.Kanji {
  flex-grow: 1;
  font-size: 10rem;
}

.Lecture {
  flex-grow: 1;

  &:not(:last-child) {
    border-right: 1px solid currentColor;
  }
}

.Spelling {
  flex-grow: 1;

  &:not(:last-child) {
    border-right: 1px solid currentColor;
  }
}
